/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.snake-wrapper {
  margin: auto;
  width: 900px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;

  .game-wrapper {
    width: 631px;
    height: 631px;
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    display: flex;
    flex-wrap: wrap;
    .game-grid {
      border-bottom: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      width: 20px;
      height: 20px;
    }
    .game-grid.snack-head {
    }
    .snack-head-inner {
      background: #1890ff;
      display: inline-block;
      border-radius: 30%;
      width: 20px;
      height: 20px;
    }
    .game-grid.current-food {
      background: greenyellow;
    }
    .game-grid.snack-body {
      background: #cccccc;
    }
  }
  .info-wrapper {
    width: 249px;
    height: 800px;
  }
}
